<main>
  <table>
    <thead>
    <tr>
      <th
        *ngFor="let c of columns"
      >{{c}}
      </th>
      <th>
        <button (click)="add()">Добавить</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let r of rows"
    >
      <td>
        <div *ngIf="!r.isEditable">{{r.content.fio}}</div>
        <input *ngIf="r.isEditable" type="text" [(ngModel)]="r.editContent.fio">
      </td>
      <td>
        <div *ngIf="!r.isEditable">{{r.content.birthday}}</div>
        <input *ngIf="r.isEditable" type="text" [(ngModel)]="r.editContent.birthday">
      </td>
      <td>
        <div *ngIf="!r.isEditable">{{r.content.mobileNumber}}</div>
        <input *ngIf="r.isEditable" type="text" [(ngModel)]="r.editContent.mobileNumber">
      </td>
      <td>
        <div class="controls">
          <button
            *ngIf="!r.isEditable"
            (click)="setEditable(r)"
            class="controls-item">Изменить
          </button>
          <button
            *ngIf="r.isEditable"
            (click)="save(r)"
            class="controls-item" [disabled]="!validate(r.editContent)">Сохранить
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div
    *ngIf="errors.length > 0"
    class="error-area">
    <ul>
      <li
        *ngFor="let e of errors"
      >
        {{e}}
      </li>
    </ul>
  </div>
</main>
